<footer>
    <div class="footer-container">
        <p>&copy; {{ year }} {{ appName }}. All rights reserved.</p>
        <div class="social-links">
            <a href="https://twitter.com/yourhandle">Twitter</a>
            <a href="https://github.com/yourhandle">GitHub</a>
        </div>
    </div>
</footer>